body{
    margin: 0;
    height: 100vh;
    background-color: #363532;
}
.mainDiv{
    position:absolute;
    top: 20%;
    left: 40%;

    
}


.input{
    width: 60px;
    height: 60px;
    font-size: 16px;
    background-color: #5e5d5c ;
    color:white;
    cursor: pointer;
}

.input:hover {
    background-color: #3f3f3d;
}

.input:focus {
    filter: brightness(50%);
} 

.result{
    width: 250px;
    height: 40px;
    margin: 0px 0px 10px 0px;
}
.zeroButton{
    width: 100%;
}

.equals{
    height: 124px;
    background-color: orange;
    font-size: 24px;
}

.equals:hover {
    background-color: rgba(255, 166, 0, 0.842);
}

.darkGrayButton{
    background-color: #4a4948 ;
}

.darkGrayButton:hover {
    background-color: #2c2b2b;
}

.redButton{
    background-color: red;
}

.redButton:hover {
    background-color: rgba(255, 0, 0, 0.76);
}
